body {
  background-color: rgb(246, 250, 253);
  color: #284150;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: 900;
}

h5 {
  font-weight: 100;
  color: #000000;
}

.nav-logo {
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2);
}

.margin-top {
  margin-top: 4rem;
}

.calculator {
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 2rem 5rem;
  border-radius: 10px;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2);
}

.bin-input {
  padding: .5rem .2rem;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #284150;
}
.bin-input:focus {
  outline: none;
  border: 1px solid #f70026;
}

.cal-btn {
  background-color: #f70026;
  color: #fff;
  margin-top: 1rem;
  border: none;
  border-radius: 7px;
  padding:.5em 2em;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2);
}
.cal-btn:disabled {
  background-color: #ff8093;
}
.cal-btn:focus {
  border-radius: 7px;
}

#error-msg {
  display: block;
  margin-top: 1rem;
  color: #f70026;
}

#outcome {
  margin: 0 auto;
  padding-top: 1rem;
  width: 50%;
  font-size: 5rem;
  color: #f70026;
}
